#Tugas Mandiri Modul 3
Nama: Elok Fiola      
NIM: 122450051     
Kelas: RC

## Soal 1
Buatlah visualisasi data awal dengan cakupan dataframe untuk 10 data teratas, info dari
dataset ‘data_modul3_TM.csv’ dan jumlah dari null/kosong.

In [ ]:
#import library
import pandas as pd
import numpy as np

In [ ]:
#membuat dataframe
#menampilkan 10 data teratas
dfdata = pd.read_csv('/content/data_modul3_TM.csv', na_values = ['#NAME?'])
print(dfdata.head(10))

   AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI
0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0
5   45   2.3  24    4.0   2.9  NaN  1.0  1.5   0.4  21.0
6   50   2.0  50    4.0   3.6  1.3  0.9  2.1   0.6  24.0
7   48   4.7  47    4.0   2.9  0.8  0.9  1.6   0.4  24.0
8   43   2.6  67    4.0   3.8  0.9  2.4  3.7   1.0  21.0
9   32   3.6  28    4.0   3.8  2.0  2.4  3.8   1.0  24.0

In [ ]:
dfdata.head(10)

   AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI
0   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1   26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3   50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4   33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0
5   45   2.3  24    4.0   2.9  NaN  1.0  1.5   0.4  21.0
6   50   2.0  50    4.0   3.6  1.3  0.9  2.1   0.6  24.0
7   48   4.7  47    4.0   2.9  0.8  0.9  1.6   0.4  24.0
8   43   2.6  67    4.0   3.8  0.9  2.4  3.7   1.0  21.0
9   32   3.6  28    4.0   3.8  2.0  2.4  3.8   1.0  24.0

In [ ]:
#info dari datset
dfdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     557 non-null    int64
 1   Urea    556 non-null    float64
 2   Cr      557 non-null    int64
 3   HbA1c   556 non-null    float64
 4   Chol    557 non-null    float64
 5   TG      553 non-null    float64
 6   HDL     556 non-null    float64
 7   LDL     557 non-null    float64
 8   VLDL    556 non-null    float64
 9   BMI     557 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 43.6 KB

In [ ]:
#melihat jumlah data null/ kosong
dfdata.isnull().sum()

AGE      0
Urea     0
Cr       0
HbA1c    0
Chol     0
TG       0
HDL      0
LDL      0
VLDL     0
BMI      0
dtype: int64

## Soal 2
Lakukan Handling missing value dengan menghapus row baris, mengisi dengan mean dan
median yang memiliki missing value. Tunjukan info dari data yang telah ditanangani
missing value(pastikan table penjumlahan null nya adalah 0/ tidak ada missing value)!

In [ ]:
#menghapus row baris
import pandas as pd
import numpy as np

In [ ]:
dfdata = pd.read_csv('/content/data_modul3_TM.csv', na_values = ['#NAME?'])
dfdata.isnull().sum().sort_values(ascending = False)
dfdata_no_missing = dfdata.dropna(axis=0)
print(dfdata_no_missing.head(10))

    AGE  Urea  Cr  HbA1c  Chol   TG  HDL  LDL  VLDL   BMI
0    50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
1    26   4.5  62    4.9   3.7  1.4  1.1  2.1   0.6  23.0
2    50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
3    50   4.7  46    4.9   4.2  0.9  2.4  1.4   0.5  24.0
4    33   7.1  46    4.9   4.9  1.0  0.8  2.0   0.4  21.0
6    50   2.0  50    4.0   3.6  1.3  0.9  2.1   0.6  24.0
7    48   4.7  47    4.0   2.9  0.8  0.9  1.6   0.4  24.0
8    43   2.6  67    4.0   3.8  0.9  2.4  3.7   1.0  21.0
9    32   3.6  28    4.0   3.8  2.0  2.4  3.8   1.0  24.0
10   31   4.4  55    4.2   3.6  0.7  1.7  1.6   0.3  23.0

In [ ]:
dfdata_no_missing.info()

<class 'pandas.core.frame.DataFrame'>
Index: 549 entries, 0 to 556
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     549 non-null    int64
 1   Urea    549 non-null    float64
 2   Cr      549 non-null    int64
 3   HbA1c   549 non-null    float64
 4   Chol    549 non-null    float64
 5   TG      549 non-null    float64
 6   HDL     549 non-null    float64
 7   LDL     549 non-null    float64
 8   VLDL    549 non-null    float64
 9   BMI     549 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 47.2 KB

In [ ]:
#Fill with mean
import numpy as np
from sklearn.impute import SimpleImputer

In [ ]:
datamean = pd.read_csv('/content/data_modul3_TM (2).csv', na_values = ['#NAME?'])

In [ ]:
datamean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 557 entries, 0 to 556
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   AGE     557 non-null    int64
 1   Urea    556 non-null    float64
 2   Cr      557 non-null    int64
 3   HbA1c   556 non-null    float64
 4   Chol    557 non-null    float64
 5   TG      553 non-null    float64
 6   HDL     556 non-null    float64
 7   LDL     557 non-null    float64
 8   VLDL    556 non-null    float64
 9   BMI     557 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 43.6 KB

In [ ]:
imp = SimpleImputer(missing_value=np.nan, strategy='mean')
imp.fit(datamean)
datamean = pd.DataFrame(data=imp.transform(datamean), columns = datamean.columns)

TypeError: SimpleImputer.__init__() got an unexpected keyword argument 'missing_value'

In [ ]:
#import data
dfdata = pd.read_csv('/content/data_modul3_TM.csv', na_values = ['#NAME?'])
imp = SimpleImputer(strategy='mean') # remove missing_value parameter
imp.fit(dfdata)
dfdata = pd.DataFrame(data=imp.transform(dfdata), columns = dfdata.columns)